.titulo {
  color: white;
  font-size: 2.2rem;
  margin: 30px 20px;
}

.galeria {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.galeria div {
  background-color: #2d3436;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.imagen img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.descripcion {
  padding: 15px;
  text-align: center;
  color: white;
}