.titulo {
  color: white;
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  margin: 30px 20px;
  text-align: center;
}

.filtros {
 display: flex;
 gap: 15px;
 padding: 20px;
 justify-content: center;
 flex-wrap: wrap;
}

.filtros input,
.filtros select {
 padding: 10px 15px;
 border-radius: 10px;
 border: none;
 font-size: 1rem;
 outline: none;
}

.filtros input {
 width: 250px;
}

.filtros select {
 cursor: pointer;
}

.galeria {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
}

.galeria div {
  background-color: #2d3436;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.imagen img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.descripcion {
  padding: 15px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .galeria {
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 16px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .galeria {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}