.intro {
    color: white;
    margin: 10px 110px;
    text-align: justify;
}

.intro h1 {
    text-align: center;
}

.dino1 {
    float: right;
    text-align: center;
    line-height: 25px;
    margin: 10px;
}

.dino1 img {
    width: 300px;
}

.dino2 {
    float: left;
    text-align: center;
    line-height: 25px;
    margin: 10px;
}

.dino2 img {
    width: 225px;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.contenido div {
    color: white;
    background-color: #2d3436;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}

.contenido img {
    width: 60%;
}

@media (max-width: 600px) {
    .intro {
        margin: 10px 20px;
        text-align: left;
    }

    .dino1,
    .dino2 {
        float: none;
        margin: 10px auto;
    }

    .dino1 img,
    .dino2 img {
        width: 100%;
        max-width: 250px;
    }

    .contenido {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .contenido div {
        width: 90%;
        margin: 15px auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .intro {
        margin: 20px 60px;
    }

    .contenido {
        flex-wrap: wrap;
    }

    .contenido div {
        width: 45%;
    }
}

@media (min-width: 1025px) {

    .contenido div {
        width: 300px;
    }
}